@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1f3b; /* New Deep Navy background */
  color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar gaya brutalism */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1d1f3b;
}

::-webkit-scrollbar-thumb {
  background: #b3c3d5; /* brutalSlate */
  border: 2px solid #f9a620; /* brutalAmber */
}

/* Custom bg-grid for Neo-Brutalism */
.bg-grid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.bg-grid-dark {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}